.login-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: lightgrey;
}

.login-menu {
  display: flex;
  flex-direction: column;
  height: 35%;
  width: 30%;
  text-align: center;
  padding: 0.5em;
  background-color: rgb(234, 226, 226);
  opacity: 1.5;
  border-radius: 8px;
  box-shadow: 0 0 500px 2px #70A0C3;
}

.login-menu h1 {
  margin: 0.5em;
  color: #07A0C3;
  transform: scale(1.25)
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-section {
  display: flex;
  flex-direction: column;
}

.submit-signup-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1em;
}

.signup-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-section input {
  height: 2em;
  font-size: 1.5rem;
  background-color: transparent;
  color: black;
  font-weight: bold;
  margin: 0.3em;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
}

.input-section input:hover {
  border-bottom: 4px solid black;
}

.input-section input:focus {
  border-bottom: 4px solid black;
}

.signup-section p {
  margin: 0;
  color: black;
  margin-right: 1em;
}

.submit-signup-section button {
  font-size: 1.5rem;
  padding: 0.5em 0 0.5em 0;
  flex-grow: 1;
  font-weight: bold;
  background-color: #07A0C3;
  color: white;
  border-radius: 8px;
  border: transparent;
  outline: none;
  margin-bottom: 0.5em;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}

a, a:visited {
  color: #07A0C3;
  font-weight: bold;
}

a:hover {
  opacity: 0.3;
}